# dependencies
node_modules/
.pnp
.pnp.js
pnpm-debug.log*

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
*.log
.vercel
*.tsbuildinfo
next-env.d.ts

# local env files
.env*.local
.env

# python (virtual environments and caches)
venv/
.venv/
env/
Lib/
Scripts/
Include/
pyvenv.cfg
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
desktop.ini
